body {
  background: rgb(77, 0, 171);
  background: linear-gradient(
    90deg,
    rgba(77, 0, 171, 1) 0%,
    rgba(95, 39, 158, 1) 43%,
    rgba(51, 78, 196, 1) 71%,
    rgba(0, 69, 255, 1) 100%
  );
  color: white;
}
.App {
  text-align: center;
}
#landing {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 17%);
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.App code {
  background: #fff3;
  padding: 4px 8px;
  border-radius: 4px;
}
.App p {
  margin: 0.4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: white;
}

p {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.outer-container {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}
.form-inp {
  max-width: 700px;
  margin: auto;
  color: black;
  font-weight: 500;
}
